# Prerequisites
*.d

# Compiled Object files and other temp files
*.slo
*.lo
*.o
*.ilk
*.exp
*assimp-vc142-mt.lib

# Debug symbols
*.dSYM

# Codelite
.codelite
*.mk
Debug

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app

# expex forward references with \gathertags
*-tags.tex
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# LaTeX
*.log
*.aux
*.toc
*.out
*.synctex.gz
*.bbl
*.blg
